
.icon-stopwatch:before { content: '\e800'; } /* '' */
.icon-cloud:before { content: '\e801'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */